* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mosaico-colorido {
    display: grid;
    gap: 8px;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat( 8, 1fr);
}

.quadrado {
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px #00000020;
}

#a1 {
    grid-column: span 2;
    background-color: #c94932;
}

#a2 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #4a89bd;
}

#a3 {
    background-color: #e69d5a;
}

#a4 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #6be0c7;
}

#a5 {
    background-color: #9a69c7;
}

#a6 {
    grid-column: span 1;
    background-color: #e98e6d;
}

#a7 {
    grid-column: span 2;
    background-color: #ec9cea;
}

#a8 {
    grid-column: span 1;
    background-color: #4fe7e0;
}